@color1: #00CA8D;
@color2: rgba(255, 255, 255, 0.7);
@linestyle1: solid 2px @color1;
@linestyle2: 1px dashed @color2; 

body {
  background: #222;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  * {
    font-family: raleway;
    color: white;
  }
}

#widgetbattle {
  #container {
    margin: 12% auto 0 auto;
    .containerunitline {
      position: absolute;
      border-top: @linestyle2;
      &:nth-of-type(5) { border-top: @linestyle1; }
      p { margin: 2px; }
    }
    .loadercontainer {
      float: left;
      z-index: 2;
      .loader {
        float: left;
        width: 90px;
        bottom: 0px;
        background: @color1;
        border-radius: 2px 2px 0 0;
        p {
          text-align: right;
          margin: 7px 7px 0 0;
        }
      }
      img {
        position: absolute;
        border-radius: 50%;
        margin: auto;
      }
    }
  }
}